<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
</head>
<body>
    <div class="header">
        <div class="header-new-note">
            <a href="#">New Note</a>
        </div>
        <div class="header-search-term">
            <input type="text"/>
        </div>
        <div class="header-total-notes">
            <div>Total notes: @{ }</div>
        </div>
    </div>

</body>
</html>